#toc {
  overflow: auto;
}



.parva .parva-list > li{
  text-overflow: ellipsis;
  overflow-x: hidden;
  overflow-y: auto;
  color:blue;
  cursor:pointer;

}
.parva{
  white-space: nowrap;
  color: black;
}
section:first-child:first-letter {
    color: #903; 
    font-family: Georgia;
    font-size: 2em;
  }
  #section-title{
font-family: cursive;
  }
  .parva-chapters{
    list-style-type: none;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  span {
    color: blue;
    font-style: italic;
    font-family: cursive;
  }

  .glossary {
    color: green;
    font-style: italic;
    font-family: cursive;
  }

  .story {
    padding: 1em;
    background-color: #FFFF66;
    border: 1pt black solid;
    border-radius: 1em;
    margin-left: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    overflow: auto;
  }

  .jest {
    opacity: 0.5;
    color: green;
  }
/*
  hr {
  display:block;
  border:none;
  height:20px;
  background-image:url('../content/images/divider.gif');
}
  */ 
.subchapter {
  border-top: 1px solid red;
  padding-top: 4em;
}

.subchapter #title {
  font-weight: bold;
  font-size: 1.2em;
}


#chapter {
  margin:10px;
  
}
#chapter #title {
  
  font-weight: bold;
}
#chapter #content {
  border: 1px solid red;
  border-radius: 4px;
  
  padding: 10px;
  overflow: auto;
  
}

hr.dashed {
  border-top: 1px dashed black;
}

em {
  color: #903;
  font-family: cursive;
  font-weight: bold;
  font-style: italic;
}
