toc {
    list-style: none;
}

#chapter #title {
    font-weight: bold;
}

#chapter #content{
    border: solid black 1px;
    border-radius: 10px;
    height: auto;
    margin: 10 10 10 10;
    padding: 4 2 4 2;
}

#cover-image {
    background-image: url('../images/mb-cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;

}
.container {
    width: 100%;
    border:solid black 1px;
}
#cover-title {
    color: #ffd700;
    font-size: 4em;
    font-family: cursive;
}

ul li  ul{ /* chapters list style */
   list-style:none;
   font-size: 0.75em;
}

.glossary {
    color: #00ff00;
}

hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
}

